@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

:root{
    --c-light50: #F8FAFC;

    --c-dark50: #797984;
    --c-dark100: #312d37;
    --c-dark900: #000;

    --c-purple50: #7c3aed;
    --c-purple100: #a855f7;
    --c-purple200: #bf46ef;

    --c-gradient: linear-gradient(90deg, var(--c-purple50), var(--c-purple100), var(--c-purple200));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    width: 100%;
    background: var(--c-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form{
    background: var(--c-light50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0,0, 0.336);
    transition: .2s ease-in-out;
}

#form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1{
    font-size: 40px;
    position: relative;
}

#form_header h1::before{
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--c-purple50);
    height: 2px;
    bottom: 12px;
}

#mode_icon{
    cursor: pointer;
    font-size: 25px;
}

#social_media{
    display: flex;
    justify-content: space-around;
}

#social_media img{
    width: 35px;
    transition: transform 0.5s ease;
}

#social_media img:hover{
    transform: scale(1.2); /*aumentar o tamanho das imagens no hover sem mexer nos outros componentes*/
}

#input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label{
    font-size: 14px;
    color: var(--c-dark50);
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--c-purple50);
}

.input-field i{
    font-size: 18px;
    color: var(--c-dark900);
}

.input-field input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus{
    outline: none;
}

#frgt_pswd a{
    text-decoration: none;
}

#frgt_pswd a:hover{
    color: var(--c-purple50);
}

#login_btn{
    border: none;
    background: var(--c-gradient);
    color: var(--c-light50);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.5s ease;
}

#login_btn:hover{
    transform: scale(1.1);
}

.dark#login_form{
    color: var(--c-light50);
    background-color: var(--c-dark100);
    animation: lt-dk 0.3s ease;
}

.dark#login_form .input-field input, .dark#login_form .input-field i{
    color: var(--c-light50);
}

.dark#login_form #frgt_pswd a{
    color: var(--c-purple50);
}

.dark#login_form #frgt_pswd a:hover{
    color: var(--c-light50);
}

@keyframes dk-lt {
    0%{
        background-color: var(--c-dark100);
    }

    100%{
        background-color: var(--c-light50);
    }
}

